@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #F39237;
    --main-bg-color: #151515;
    --main-color-black: #191918;
    --main-color-text: #fff;
    --main-constrast-color: #3F47CC;
    --default-constrast-color: #6495ed;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--main-color-text);
}

menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 8px 15px 8px 15px;
    background-color: black;
}

menu nav a {
    padding: 0 5px 0 5px;
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
}

menu nav a:hover {
    color: var(--main-color);
    border-bottom: 1.5px solid var(--main-color);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    max-width: 650px;
    max-height: 500px;
    margin: 0 3% 0 auto;
}

.subs {
    display: flex;
    margin: 0 0 0 3%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;
}

.subs span {
    color: var(--main-color);
}

.subs p {
    margin: 20px 0;
    max-width: 450px;
    text-align: justify;
}
.subs h1 {
    font-weight: 800;
    margin: 20px 0;
    max-width: 450px;
}

section {
    max-width: 1280px;
    margin: 0 auto 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    color: var(--main-color-black);
    background-color: white;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 8px;
}

form h1 {
    font-size: 30px;
    text-align: center;
    color: var(--main-color)
}

form p {
    text-align: center;
    margin: 20px 0;
}

.input-single {
    position: relative;
    margin: 30px 0;
}

.input-single label {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.2s;
    cursor: text;
    color: var(--main-color)
}

.input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    font-size: 17px;
    outline: none;
}

.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-25px);
    font-size: 12px;
    color: var(--main-color);
}

.btn {
    width: 100%;
    text-align: center;
}
form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 8px;
    background-color: var(--main-color-black);
    color: var(--main-color-text);
    cursor: pointer;
}