@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-color: #f39237;
  --main-bg-color: #151515;
  --main-color-black: #191918;
  --main-color-text: #fff;
  --main-constrast-color: #3f47cc;
  --default-constrast-color: #6495ed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.box-user {
  box-sizing: border-box;

  width: 480px;
  height: 480px;

  background: var(--main-bg-color);
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.box-user > .input {
  position: relative;
  border: 1px solid #ffffff;
  width: 300px;
  height: 65px;
}
.box-user > .input > input[type="password"],
.box-user > .input > input[type="text"] {
  position: absolute;
  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;

  background-color: transparent;
  border: none;
  border: 1px solid #ffffff;

}
.box-user > .input > input[type="password"],
.box-user > .input > input[type="text"]:focus {
  outline: none;
}

label {
  box-sizing: border-box;

  position: absolute;
  width: 302px;
  height: 61px;
  left: calc(50% - 302px / 2);
  top: calc(50% - 61px / 2);

  border-bottom: 5px solid #f39237;
}
